<% @bustimes.each do |b| %>
	<div class="bustime">
		<h2> Route <%= b.routenum  %>  <%= link_to "Edit", edit_bustime_path(b), :style => 'font-size: 12px !important;' %></h2>
		<% @stops = b.stopid.split(',') %>
		<div class="realbustime">
			<% @stops.each do |t| %>
				<% @burger = "http://www.ctabustracker.com/bustime/api/v1/getpredictions?key=" + @key.apikey + "&rt=" + b.routenum.to_s + "&stpid=" + t %>
 				<% doc = Nokogiri::HTML(open(@burger)) %>
				<% @doc = Hash.from_xml(doc.to_s) %>
					<% unless @doc['html']['body']['bustime_response'] == nil %>
						<% if @doc['html']['body']['bustime_response']['prd'][1] %>
							<% @doc['html']['body']['bustime_response']['prd'].each do |t| %>
								<%= t['stpnm'] %> <br>
								<%= t['rtdir'] %><br>
								<%= distance_of_time_in_words(t['prdtm'].to_time().in_time_zone("America/Chicago") + 6.hours, Time.now.in_time_zone("America/Chicago"))%> <br>
								<br><br>
							<% end %>
						<% else %>
							<%= @doc['html']['body']['bustime_response']['prd']['stpnm'] %> <br>
							<%= @doc['html']['body']['bustime_response']['prd']['rtdir'] %><br>
							<%= distance_of_time_in_words(@doc['html']['body']['bustime_response']['prd']['prdtm'].to_time().in_time_zone("America/Chicago") +6.hours, Time.now.in_time_zone("America/Chicago"))%> <br>	<br><br>
						<% end %>
					<% end %>
				<% end %>
		</div>
	</div>
<% end %>	