<% @bustimes.each do |b| %>
	<div class="bustime">
		<h2> Route <%= b.routenum  %>  <%= link_to "Edit", edit_bustime_path(b), :style => 'font-size: 12px !important;' %></h2>
		<% @stops = b.stopid.split(',') %>
		<div class="realbustime">


			<% @stops.each do |t| %>
 					<% doc = Nokogiri::HTML(open("http://www.ctabustracker.com/bustime/api/v1/getpredictions?key=kRBbPLQJ5L8GXuCeTdRpKU8Xg&rt=9&stpid=17180")) %>
		<% @doc = Hash.from_xml(doc.to_s) %>
<% if @doc['html']['body']['bustime_response']['prd'][1] %>
	<% @doc['html']['body']['bustime_response']['prd'].each do |t| %>
		<%= t['stpnm'] %> <br>
		<%= t['rtdir'] %><br>
		<%= distance_of_time_in_words(t['prdtm'].to_time(:local), Time.now)%> <br>
		<br><br>
	<% end %>
<% else %>
	<%= @doc['html']['body']['bustime_response']['prd']['stpnm'] %> <br>
	<%= @doc['html']['body']['bustime_response']['prd']['rtdir'] %><br>
	<%= distance_of_time_in_words(@doc['html']['body']['bustime_response']['prd']['prdtm'].to_time(:local), Time.now)%> <br>	<br><br>
<% end %>
	<% end %>

			</div>
	</div>
<% end %>	

<!-- route 9 bus stops  17180,6019 -->
<!-- route 72 bus stops 902,17000 -->
