<%= form_for(@bustime) do |f| %>
  <% if @bustime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bustime.errors.count, "error") %> prohibited this bustime from being saved:</h2>

      <ul>
      <% @bustime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# f.collection_select(:routenum, @stops['rt'], :first, :first) %>

  <script type ="text/javascript">
    $(document).ready(function(){
     $(".routeval").filter(function(){
       if($(this).val() == <%= @bustime.routenum %>){
        $(this).attr('selected','selected');
      }
     });
    });
  </script>
  <div class="actions">
    <%= f.label :routenum, "Choose a route:" %>
    <select name="bustime[routenum]">
      <option value ="">Choose a Route</option>
      <% @stops.each do |d| %>
        <option class="routeval" value="<%= d['rt'] %>"><%= d['rt'] +" - " + d['rtnm'] %></option>
      <% end %>
    </select><br>
    <%= f.label :stopid, "Put your Stop IDs here (separated by commas):" %>
    <%= f.text_field :stopid %><br>
    <%= f.submit %>
  </div>
<% end %>
