<!DOCTYPE html>
<html>
<head>
  <title>Ctatimes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= image_tag('hdr-cta.gif') %>
<br>
<%= yield %>


</body>
</html>
